<div class="row">
  <div class="col-md-12">
    <hr>
    <h2>Statistics</h2>
    <p><strong>Total received emojis in your session: {{statisticsService.totalCount}}</strong></p>
    <ul class="list-group" id="emoji-stats">
      <li class="list-group-item col-xs-4 col-sm-2" *ngFor="let row of emojiStats">
        <button class="btn btn-default" type="button">
          {{row.emoji}} <span class="badge">{{row.count}}</span>
        </button>
      </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
