html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.emoji {
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 300px;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
}

.mapboxgl-popup-content {
  font-size: 11px;
  line-height: 1.5em;
}

.mapboxgl-popup-content .profile_pic {
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 6px 3px 0;
}

.mapboxgl-popup-content a {
  color: #000;
}

.mapboxgl-popup-content .screen_name {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
